.findPassInputCover {
	margin-top: 100px;
	border: 1px solid black;
	border-radius: 2px;
	padding: 10px;
	width: 450px;
	background: gray;
	display: flex;
	flex-direction: column;
	text-align: center;
	
	.findPassTitle {
		font-size: 25px;
		font-weight: bold;
	}
	
	.findPassBox {
		display: flex;
		align-items: center;
	}
	
	.findPassInput {
		width: 330px;
		
		.Mui-focused {
			background-color: white;
			color: black;
			
			fieldset {
				border-color: black;
			}
		}
		
		&:hover {
			transition-duration: 0.2s;
			background-color: #aacafd;
			border-radius: 5px;
		}
	}
	
	.findPassInput {
		width: 100%;
		
		.Mui-focused {
			background-color: white;
			color: black;
			
			fieldset {
				border-color: black;
			}
		}
		
		&:hover {
			transition-duration: 0.2s;
			background-color: #aacafd;
			border-radius: 5px;
		}
	}
	
	.findPassButton {
		width: 100px;
		margin-top: 8px;
		margin-bottom: 4px;
		margin-left: 20px;
		color: black;
		border: 1px black solid;
		font-weight: bolder;
		pointer-events: none;
		
		&:hover {
			background-color: #aacafd;
		}
	}
	
	.Mui-disabled {
		color: white !important;
		background-color: #AD2727 !important;
		-webkit-text-fill-color: white !important;
		border-radius: 5px;
	}
	
	.findPassBirth {
		margin-top: 20px;
		margin-bottom: 20px;
		
		.Mui-focused {
			background-color: white;
			color: black;
			
			fieldset {
				border-color: black;
			}
		}
		
		&:hover {
			transition-duration: 0.2s;
			background-color: #aacafd;
			border-radius: 5px;
		}
	}
	
	.sexControlForm {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin: auto;
		
		.Mui-checked {
			color: white;
		}
	}
	
	.findPassConfirmButton {
		color: black;
		margin-top: 20px;
		border: 1px solid black;
		pointer-events: none;
		
		&:hover {
			background-color: #aacafd;
		}
	}
	
	.active {
		pointer-events: auto;
		background-color: white;
		color: black;
	}
	
	.Mui-selected {
		background-color: black !important;
	}
}
