.previewSwiper {
	width: 100%;
	height: 100%;
	min-width: 1080px;
	max-width: 98vw;
	max-height: 1080px;
	margin-bottom: 20px;
	
	margin-left: auto;
	margin-right: auto;
	
	.swiper-slide {
		height: 60vh;
		text-align: center;
		font-size: 30px;
		background: #fff;
		color: black;
		
		/* Center slide text vertically */
		display: flex;
		justify-content: center;
		align-items: center;
		
		img {
			display: block;
			height: 100%;
			width: 100%;
		}
	}
	
	.swiper-button-prev {
		color: #87A0C9;
	}
	
	.swiper-button-next {
		color: #87A0C9;
	}
	
	.swiper-pagination-bullet {
		background-color: #ffffff;
	}
	
	.swiper-pagination-bullet-active {
		background-color: #aacafd;
	}
}

.listSwiper {
	width: 80vw;
	
	min-width: 1024px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	
	.swiper-slide {
		height: 100%;
		width: 200px;
		text-align: center;
		font-size: 30px;
		color: white;
		padding-left: 5px;
		padding-right: 5px;
		
		/* Center slide text vertically */
		display: flex;
		align-items: center;
		flex-direction: column;
		
		.posterinfo {
			height: 250px;
			width: 180px;
			position: relative;
			
			img {
				display: block;
				border-radius: 7px;
				width: 100%;
				height: 100%;
				object-fit: fill;
				vertical-align: top;
			}
			
			.typo {
				position: absolute;
				top: 2%;
				left: 10%;
				font-size: 30px;
				color: white;
				-webkit-text-stroke: 0.4px black;
			}
		}
		
		.buttonGroup {
			position: absolute;
			top: 45%;
			left: 50%;
			transform: translate(-50%, -50%);
			
			Button {
				width: 150px;
				margin-bottom: 10px;
				border: 2px solid white;
				color: #aacafd;
				
				&:hover {
					color: #87A0C9;
					filter: brightness(70%);
				}
			}
		}
	}
	
	.swiper-button-prev {
		top: 40%;
		color: #87A0C9;
	}
	
	.swiper-button-next {
		top: 40%;
		color: #87A0C9;
	}
}
