.detailCover {
	margin-top: 40px;
	margin-bottom: 50px;
	width: 80vw;
	
	padding: 50px;
	background-color: dimgray;
	
	border-radius: 6px;
	border: 2px solid white;
	
	.divide {
		width: 105%;
		background-color: white;
		margin-bottom: 20px;
	}
}

.headerCover {
	width: 100%;
	margin-bottom: 30px;
	display: flex;
	
	.poster {
		width: 200px;
		height: 320px;
		margin-right: 60px;
	}
	
	.title {
		margin-top: -15px;
		font-size: 45px;
		font-weight: bolder;
	}
	
	.contentCover {
		height: 230px;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		
		.contentBox {
			width: 350px;
			display: flex;
			padding-top: 3px;
			
			.contentType {
				filter: brightness(60%);
				width: 80px;
				font-size: 16px;
			}
			
			.content {
				font-size: 16px;
			}
		}
	}
	
	.bookButton {
		background-color: gray;
		width: 150px;
		color: #aacafd;
		font-size: 15px;
		margin-top: -5px;
		padding-left: 10px;
		
		border: 2px solid white;
	}
}
