.detailCover {
	margin-top: 40px;
	margin-bottom: 50px;
	width: 80vw;
	
	padding: 50px;
	background-color: dimgray;
	
	border-radius: 6px;
	border: 2px solid white;
	
	.divide {
		width: 105%;
		background-color: white;
		margin-bottom: 20px;
	}
	
	.tabCover {
		.MuiButtonBase-root {
			color: #29313D;
			margin: 10px 10px;
			
			border: 2px solid white;
			border-radius: 10px;
		}
		
		.MuiTabs-indicator {
			display: none;
		}
		
		.Mui-selected {
			color: white !important;
			background-color: #87A0C9;
			border: 2px solid white;
			border-radius: 10px;
		}
	}
	
}

.headerCover {
	width: 100%;
	margin-bottom: 30px;
	display: flex;
	
	.poster {
		width: 200px;
		height: 320px;
		margin-right: 60px;
	}
	
	.title {
		margin-top: -15px;
		font-size: 45px;
		font-weight: bolder;
	}
	
	.contentCover {
		height: 230px;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		
		.contentBox {
			width: 350px;
			display: flex;
			padding-top: 3px;
			
			.contentType {
				filter: brightness(60%);
				width: 80px;
				font-size: 16px;
			}
			
			.content {
				font-size: 16px;
			}
		}
	}
	
	.bookButton {
		background-color: gray;
		width: 150px;
		color: #aacafd;
		font-size: 15px;
		margin-top: -5px;
		padding-left: 10px;
		
		border: 2px solid white;
	}
}

.makingNoteCover {
	.summary {
		margin-bottom: 30px;
	}
	
	.divide {
		justify-content: center;
		width: 90%;
		background-color: white;
		margin-bottom: 20px;
	}
}

.creatorCover {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
	.creatorBox {
		width: 450px;
		display: flex;
		margin-bottom: 30px;
		margin-left: 5px;
		margin-right: 5px;
		
		.thumb {
			object-fit: fill;
			width: 150px;
			height: 200px;
			margin-right: 20px;
		}
		
		.role {
			font-size: 20px;
			font-weight: bolder;
			margin-top: 5px;
			margin-bottom: 15px;
		}
		
		.name {
			filter: brightness(90%);
			font-size: 15px;
		}
	}
}

.previewCover {
	justify-content: center;
	width: 80vw;
	padding-left: 30px;
	padding-right: 30px;
	
	.previewSwiper {
		min-width: 80%;
		height: 100%;
		
		.swiper-slide {
			width: 80%;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			
			img {
				display: block;
				width: 100%;
				object-fit: fill;
			}
		}
	}
	
	.thumbSwiper {
		width: 100%;
		height: 28vh;
		
		img {
			display: block;
			width: 100%;
			height: 80%;
			object-fit: fill;
		}
		
		.swiper-slide {
			opacity: 0.5;
			width: 20vw;
			height: 35vh;
			
			img {
				display: block;
				width: 100%;
				object-fit: fill;
			}
			
			iframe {
				display: block;
				width: 100%;
				height: 100%;
				pointer-events: none;
				
			}
		}
		
		.swiper-slide-thumb-active {
			opacity: 1.0;
		}
	}
}

.reviewCover {
	padding: 20px;
	margin-top: 20px;
	margin-left: 20px;
	display: flex;
	flex-direction: row;
	border: 1px solid gray;
	border-radius: 15px;
	
	.divide {
		margin-right: 20px;
		margin-left: 20px;
		width: 1px;
	}
	
	img {
		display: block;
		width: 150px;
		object-fit: fill;
	}
	
	.review {
		padding-top: 5px;
		width: 50vw;
	}
	
	.recDateBox {
		padding-top: 5px;
		
		.recommendation {
			display: flex;
			flex-direction: row;
			margin-top: 20px;
			margin-bottom: 30px;
			
			svg {
				margin-top: auto;
				margin-bottom: auto;
				margin-left: 10px;
				color: #aacafd;
			}
			
			p {
				font-size: 35px;
			}
		}
	}
}
