.myPageInputCover {
	margin-top: 100px;
	border: 1px solid black;
	border-radius: 2px;
	padding: 10px;
	width: 450px;
	background: gray;
	display: flex;
	flex-direction: column;
	text-align: center;
	
	.myPageTitle {
		font-size: 25px;
		font-weight: bold;
	}
	
	.myPageBox {
		display: flex;
		align-items: center;
	}
	
	.myPageInput {
		width: 100%;
		
		.Mui-focused {
			background-color: white;
			color: black;
			
			fieldset {
				border-color: black;
			}
		}
		
		&:hover {
			transition-duration: 0.2s;
			background-color: #aacafd;
			border-radius: 5px;
		}
	}
	
	.myPageButton {
		width: 80px;
		margin-top: 8px;
		margin-bottom: 4px;
		margin-left: 20px;
		color: black;
		border: 1px black solid;
		font-weight: bolder;
		pointer-events: none;
		
		&:hover {
			background-color: #aacafd;
		}
	}
	
	.Mui-disabled {
		font-weight: bolder;
	}
	
	.myPageNickNameInput {
		width: 330px;
		
		.Mui-focused {
			background-color: white;
			color: black;
			
			fieldset {
				border-color: black;
			}
		}
		
		&:hover {
			transition-duration: 0.2s;
			background-color: #aacafd;
			border-radius: 5px;
		}
	}
	
	.divide {
		margin-top: 20px;
		margin-bottom: 20px;
		border-color: white;
	}
	
	.myPageBirth {
		margin-top: 20px;
		margin-bottom: 20px;
		
		.Mui-focused {
			background-color: white;
			color: black;
			
			fieldset {
				border-color: black;
			}
		}
		
		&:hover {
			transition-duration: 0.2s;
			background-color: #aacafd;
			border-radius: 5px;
		}
	}
	
	.sexControlForm {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin: auto;
		
		.Mui-checked {
			color: white;
		}
	}
	
	.myPageConfirmButton {
		color: black;
		margin-top: 20px;
		border: 1px solid black;
		pointer-events: none;
		
		&:hover {
			background-color: #aacafd;
		}
	}
	
	.active {
		pointer-events: auto;
		background-color: white;
		color: black;
	}
	
	.myPageTextButtonCover {
		display: flex;
		margin-left: auto;
		
		.myPageTextButton {
			margin: 10px;
			
			&:hover {
				cursor: pointer;
				text-decoration: underline;
			}
		}
	}
}

.Mui-selected {
	background-color: black !important;
}
