.backgroundImage {
	width: 100%;
	height: 100%;
	min-width: 1080px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -99;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 15%, rgba(0, 0, 0, 0.1) 20%), url("../../assets/images/loginBackground.jpg") !important;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.coverHeader {
	min-width: 1080px;
	max-width: 1920px;
	align-items: center;
	
	filter: brightness(90%);
}

.headmenu {
	padding-right: 30px;
	height: 80px;
	margin-top: 10px;
	text-align: center;
	margin-bottom: -5px;
	
	display: flex;
	
	.searchBox {
		float: left;
		padding-left: 30px;
		width: 400px;
		text-align: left;
		margin-top: auto;
		margin-bottom: auto;
		
		.searchArea {
			transition-duration: 0.3s;
			width: 10px;
			margin-bottom: 10px;
			
			svg {
				color: white;
			}
		}
		
		.active {
			padding-left: 10px;
			transition-duration: 0.3s;
			color: black;
			background-color: white;
			border-radius: 10px;
			width: 100%;
			font-size: 15px;
			
			svg {
				cursor: pointer;
				color: black;
			}
		}
	}
	
	.logo {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-60%, -80%);
		
		img {
			height: 65px;
		}
	}
	
	.loginHeader {
		margin-left: auto;
		float: right;
		font-size: 12px;
		display: flex;
		flex-direction: column;
		
		.loginMenu {
			display: flex;
			margin: auto;
		}
	}
	
	.account {
		margin-left: auto;
		text-align: right;
		margin-bottom: 10px;
		color: white;
	}
}

.navMenu {
	display: flex;
	width: fit-content;
	text-align: center;
	margin: 10px auto;
	
	p {
		color: white;
	}
}
