.coverHeader {
	width: 80vw;
	min-width: 1080px;
	max-width: 1920px;
	align-items: center;
	
	filter: brightness(90%);
	
	.divide {
		background-color: white;
		margin-left: 20px;
		margin-right: 20px;
	}
}

.headmenu {
	width: 100%;
	margin-top: 10px;
	text-align: center;
	margin-bottom: -5px;
	
	.searchArea {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
		font-size: 30px;
		justify-content: end;
		color: white;
	}
	
	.logo {
		margin-left: auto;
		margin-right: auto;
		width: 40vw;
		
		img {
			height: 65px;
		}
	}
	
	.account {
		margin-bottom: 10px;
		margin-left: auto;
		margin-right: auto;
		color: white;
	}
}

.navMenu {
	display: flex;
	width: fit-content;
	text-align: center;
	margin: 10px auto;
	
	p {
		color: white;
	}
}
