threemovieapi/src/main/resources/application-db-config.properties
threemovieapi/src/main/resources/application-smtp-config.properties
threemovieapi/src/main/resources/application-jwt-config.properties
threemovieapi/src/main/resources/application-security-config.properties
