
threemovieapi/src/main/resources/application.properties
threemovieweb/yarn.lock
threemovieweb/package-lock.json
threemovieweb/.idea/sonarlint/issuestore/index.pb
*.pb
threemovieweb/package-lock.json
threemovieweb/yarn.lock
